@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

/* To reset everything */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global */

html, body{
    font-family: 'Roboto', sans-serif;
 
    color: #fff;
    overflow-x: hidden;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    background: #000;
}

img{
    width: 100%;
}

/* Buttons */

.btn-1{
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 35px;
    color:aliceblue;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 5px;
}

.btn-round{
    background: purple;
    color:#fff;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 35px;
    padding: 5px 30px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 3px;
}

.btn-round:hover{
    background: #fff;
    color: #000;
  
}


.header-content .btn-round{
    border: #fff solid 2px;
    padding: 10px 20px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0);
}

.header-content .btn-round:hover{
    background: #fff;
    color: black;
}

/* header */
.header{
    position: relative;
    height: 700px;
    background: url(/img/header-desktop-background.jpg) no-repeat center center /cover;

}

.header-top{
    position: relative;
    height: 55px;
    background:rgba(1,1,1,0.5);
    width: 100%;
    position: fixed;
    z-index: 4;
 
}
.header-top img{
    position: absolute;
    top: 0px;
    left: 5px;
    height: 70px;
    width: 150px;
    padding-left: 10px;
    
}

.header-top .btn-1{
    position: absolute;
    top: 10px;
    right: 200px;
}

.header-top .btn-round{
    position: absolute;
    top: 10px;
    right: 10px;
}

.header-container{
    display: flex;
    height: 600px;
}

.header-content-showcase-logo{
    width: 300px; 
    
}

.header-content{
    height: 500px;
    width: 600px;
    padding-top: 125px;
    padding-left: 150px;
    font-weight: 200;
    align-items: left;
}

.header-content h1{
    font-weight: 400;
    font-size: 25px;
}

.header-content p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-content-logo{
    align-self: end;
    height: 200px;
    width: 300px;
    padding-left: 35%;
    padding-top: 80px;
}
.header-content-logo p{
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color: #d3d3d3;
    text-transform: uppercase;
}
.header-succession-logo{
    width: 300px;
}

/* Subscription Plan */
.subscription-plan{
    text-align: center;
    padding: 10px;
    height: 350px;
    background: url(/img/gradient-background.jpg) no-repeat center center/ cover;
 
}

.subscription-plan h2{
    margin-top: 20px;
    font-weight: 300;
    font-size: 40px;
}
.subscription-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding-top: 30px;
}

.plan {
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(9, 0, 20, 0.5);
}
.plan h3{
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}
.plan p{
    font-size: medium;
    color: #d3d3d3;
}

.subscription-container p{
    color: #fff;
}
.plan-a a, .plan-b a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    border: rgb(181, 53, 246) solid 1px;
    border-radius: 5px;
    margin-top: 5px;
    padding: 20px 40px;
    background: rgba(0, 0, 0, 0);
}

.subscription-container a:hover{
    cursor: pointer;
    background: rgba(181, 53, 246, 0.3);
}


.plan-b, .plan-a{
    display: flex;
    gap: 30px;
    position: relative;
    z-index: 2;
}
/* Do not delete Important for  the percent of*/
.plan-b a:nth-of-type(2)::after{
    content: 'save 20%';
    display: block;
    color: rgb(244, 0, 227);
    line-height: 0.5;
    font-size: 15px;
    height: 6px;
    text-transform: uppercase;
    padding-top: 10px;
}
.plan-a a:nth-of-type(2)::after{
    content: 'save 16%';
    display: block;
    color: rgb(244, 0, 227);
    line-height: 0.5;
    font-size: 15px;
    height: 6px;
    text-transform: uppercase;
    padding-top: 10px;
}


/* Showcase-1 */
.showcase-1{
    height: 600px;
    background: url(/img/section-3-background.jpg) no-repeat center center /cover;
    display: flex;
    flex-direction: column;
}
.showcase-1-content{
    display: flex;

    justify-content: space-around;
}

.showcase-1-top-text{
    width: 600px;
    height: 400px;
    padding-top: 200px;
    padding-left: 80px;
}
.showcase-1-top-text h1{
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1px;   
    padding-bottom: 5px; 
}
.showcase-1-top-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 100px;
    padding-top: 100px;
}
.showcase-1-top-img .last-of-us-logo{
    width: 200px;
    height:50px;
} 

.showcase-1-cover-displays{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-left: 80px;
    padding-top: 20px;
    padding-bottom: 40px;
    width: 1000px;
    gap: 15px
}




/*      Showcase-2      */
.showcase-2{
    height: 600px;
    background: url(/img/gradient-2-background.jpg) no-repeat center center /cover;
    margin-top: 200px;
    position: relative;
    
}
.showcase-2::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:  100%;
    z-index: 1;
    background: rgba(0,0,0, 0.5); /*rgba is a transparent color */
    box-shadow: inset 50px 50px 250px #000000;
}
.showcase-2-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 40px 30px;
}
.showcase-2-text{
    font-weight: 300;
    height: 200px;
    width: 600px;
    padding-left: 40px;
    padding-top: 200px;
    z-index: 2;
}
.showcase-2-text h1{
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 30px;
}


.showcase-2-movie-cover{
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-around;
    gap: 8px;
    margin-left: 70px;
    z-index: 2;
}
.showcase-2-movie-cover > div{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* HBO ACCESS */

.hbo-access{
    display: flex;
    height: 100px;
    justify-content: center;
    background: #170450;
}
.hbo-access a{
    text-decoration: none;
    cursor: pointer;
}
.hbo-access a:hover{
    color: #fff;
}
.hbo-access-txt {
    font-size: 20px;
    align-self: center;
}
.hbo-access-txt a{
    color: #8B33DF;
}
/*  Quest --- Questions and Answer Column*/

.quest{
    height: 500px;
    display: flex;
    justify-content: center;
    background: linear-gradient(89.7deg, rgb(0, 32, 95) 2.8%, rgb(132, 53, 142) 97.8%);;
    position: relative;
}
.quest::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:  100%;
    z-index: 1;
    background: rgba(0,0,0, 0.7); /*rgba is a transparent color */
    box-shadow: inset 120px 50px 250px #000000, ;
}
.quest-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    width: 80%;
    z-index: 3;
}

.quest-txt{
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 36px;
    letter-spacing: 1px;

}


.quest-lst-btn {
    font-size: 1.25rem;
    line-height: 1.6;
    text-align: left;
    width: 100%;
    height: 80%;
   
}

.quest-lst-btn button{
    width: 100%;
    background: none;
    margin: 0;
    color: #8B33DF;
    text-align: left;
    padding-top: 1.25rem;
    padding-right: 1.5rem;
    padding-bottom: 1.25rem;
    font-size: medium;
    font-size: 20px;
    line-height: 1.6;
    border: none;
    border-bottom: lightgrey solid 1px;
    border-radius: 0;
    cursor: pointer;
}

.quest-lst-btn button:hover{
    color: #fff;
}

.panel{
    padding: 20px 30px;
    font-size: 20px;
    font-weight: 400;
    display: none;
}
.panel a{
    text-decoration: none;
}
.panel a:hover{
    color: #fff;
}

/* Footer */

.footer{
    background: #15002e;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 250px;
    position: relative;
}
.footer::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:  100%;
    z-index: 1;
    background: rgba(0,0,0, 0.3); /*rgba is a transparent color */
    box-shadow: inset 120px 50px 250px #2d0180, inset 120px 50px 250px #2d0180,;

}


.footer-container{
    width: 80%;
    margin-top: 40px;
    z-index: 2;
    text-align: center;
}

.lst-2-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.lst-2-btn a{
    cursor: pointer;
    padding: 10px;
    font-weight: 500;
    font-size: 20px;
    color: #9349fa;
    text-decoration: none;
}

.lst-2-btn a:hover{
    color: #fff;
}

.lst-2-a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.lst-2-a > a{
    padding: 5px;
    text-decoration: none;
    color: #9349fa;
    line-height: 1.6;
    font-weight: 100;
    font-size: 15px;
}
.lst-2-a > a:hover{
    color: #fff;
}
.footer-legal-txt{
    display: flex;
    justify-content: center;
    font-size: small;
    font-weight: 100;
    color: #9349fa;;
}




@media(max-width:768px) {
    .btn-1{
        display: none;
    }
    .btn-round{
        padding: 1px 15px;
        font-weight: 600;
        font-size: 10px;
        letter-spacing: 1px;
    }
    .header{
        background: url(/img/header-mobile-background.jpg) no-repeat center center /cover;
        background-size: 410px;
    }
    .header-top{
        height: 50px;
    }
    .header-top img{
        padding-top: 3px;
        height: 50px;
        width: 130px;
    }
    .header-content-showcase-logo{
        display: none;
    }
    .header-container{
        display: flex;
        flex-direction: column;
        height: 600px;
        width: 100%;
    }
    .header-content{
       display: flex;
       flex-direction: column;
       padding-top: 60px;
       padding-left: 0px;
       width: 100%;
       align-items: center;
    }
    .header-content h1{
        padding-left: 25px;
        padding-right: 10px;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 1px;

    }
    .header-content p{
        font-size: small;
        margin: 0;
        padding-left: 120px;
        margin-bottom: 10px;
    }

    .header-content-logo{
        padding-right: 350px;
    }
    .header-content .btn-round{
        border-radius: 35px;
        padding: 10px 25px;
        font-weight: bold;
        font-size: 15px;
        letter-spacing: 3px;
    }
    /* Subscription Plan */
    .subscription-plan{
        height: 570px;
    }
    .subscription-plan h2{
        font-size: 30px;
        font-weight: 400;
    }
    .subscription-plan p{
        font-size: small;
        color: lightgrey;
    }
    .subscription-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: none;
        align-items: none;
    }
     .plan-b, .plan-a{
        gap: 10px;
    }
    .plan-a a, .plan-b a {
        font-size: 20px;
        padding: 20px 40px;
    }
    .plan-a a{
        padding: 20px 47px;
    }
    /* Showcase */
   .showcase-1{
    display: flex;
    flex-direction: column;
    height: 900px;

    /* justify-content: flex-end; */
    gap: 100px;
   }
    .showcase-1-content{
        display: flex;
        flex-direction: column;
        height: 250px;
       margin-bottom: 110px;
    }
    .showcase-1-top-text{
        width: 100%;
        height: 400px;
        padding-top: 50px;
        padding-left: 0;
       
        text-align: center;
    }
    .showcase-1-top-text h1{
        font-size: 30px;
    }
    .showcase-1-top-text p{
        font-weight: 200;
    }
    .showcase-1-top-img{
        width: 400px;
        height: 100px;
        padding-top: 50px;
    }
    .showcase-1-top-img .last-of-us-logo{
        width: 200px;
        height: 50px;
    } 

    .showcase-1-cover-displays{
        display: grid;
        padding-top: 50px;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 0px;
        width: 390px;
        padding-left: 20px;
    }
  

    /* Showcase - 2 */
    .showcase-2{
        margin-top: 50px;
        height: 650px;
    }
    .showcase-2-content{
        display: flex;
        flex-direction: column;
     
        width: 100%;
      
        height: 100%;
    }
    .showcase-2-movie-cover{
        display: grid;
        padding-top: 30px;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 0px;
        width: 100%;
        padding-left: 0;
        /* height: 100%; */
    }
    
    .showcase-2-text{
        font-weight: 300;
        height: 200px;
        width: 100%;
        padding-left: 0;
        padding-top: 20px;
        /* z-index: 2; */
        text-align: center;
    }
    .showcase-2-text h1{
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    /*  HBO ACCESS */
    .hbo-access-txt{
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        padding: 30px 15px;
    }
    .quest{
        height: 560px;
    }
    .quest-container{
        width: 90%;
      
    }
  

   

    /* Footer */
    .footer{
        height: 440px;
    }
    
    .lst-2-btn{
        flex-wrap: wrap;
    }
    .lst-2-a{
        flex-wrap: wrap;
        justify-content: space-around;
        height: 170px;
    }
    
}